@import './variable.scss';

.navbar{
    background:  $light-pink;
    .navbar-brand{
        height: 60px;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-link{
                padding: 10px 15px;
                text-align: center;
                color: $heading-text-color ;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
    .dropdown-menu{
        border: none;
        box-shadow: 0 10px 10px #0000001c;
        border-radius: 0;
        padding: 0;
        .dropdown-item{
            font-size: 14px;
            border-bottom: 1px solid #ddd;
            padding: 7px 15px;
            color: $heading-text-color;
            position: relative;
            transition: all .5s ease;

            &::before{
                content: '';
                height: 36px;
                width: 3px;
                background-color: $bright-pink;
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                transition: all .5s ease;
            }
            span{
                z-index: 2;
                position: relative;
            }
            &:last-child{
                border: none;
            }
            &:hover{
                background: transparent;
                color: $light-pink;
                &::before{
                    width: 100%;
                }
            }
        }
    }
}